<header>
  <img id="imgJesus" src="assets/jesus_script_white.png" />
  <div id="title">Jésus Script</div>
</header>
<main>
  <div class="grid-container">
    <nav>
      <ul>
        <li><button mat-button (click)="showProfil()">Profil</button></li>
        <li>
          <button mat-button (click)="showConsultations()">Rendez-vous</button>
        </li>
        <li>
          <button mat-button (click)="showObservations()">Observations</button>
        </li>
      </ul>
    </nav>
    <div id="functionApp">
      <app-consultation
        *ngIf="consultationDisplay"
        [listeConsultations]="listeConsultations"
        (notifyAppointment)="submitAppoitment($event)"
      ></app-consultation>
      <app-infos-patient
        *ngIf="profilDisplay"
        [patient]="patient"
      ></app-infos-patient>
      <div id="observation" *ngIf="observationDisplay">
        <mat-toolbar>Observations</mat-toolbar>
        <app-new-observation
          (notifyObservation)="submitObservation($event)"
        ></app-new-observation>
        <mat-grid-list cols="3" rowHeight="{{ observations.length / 3 }}:1">
          <mat-grid-tile *ngFor="let observation of observations">
            <app-observation
              [observation]="observation"
              (notifyDeleteObservation)="onDeleteObservation($event)"
            >
            </app-observation>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
  </div>
</main>
<footer></footer>
