<header>
  <img id="imgJesus" src="assets/jesus_script_white.png"/>
  <div id="title">
    Jésus Script
  </div>
</header>
<main>
    <div class="grid-container">
      <nav>
        <ul>
          <li><button mat-button (click)="showProfil()">Profil</button></li>
          <li><button mat-button (click)="showConsultations()">Rendez-vous</button></li>
          <li><button mat-button>Observations</button></li>
        </ul>
      </nav>
      <div id="functionApp">
        <app-infos-patient *ngIf="profilDisplay" [patient]="patient"></app-infos-patient>
        <app-consultation *ngIf="consultationDisplay"
        [listeConsultations]="listeConsultations"
        (notifyAppointment)="submitAppoitment($event)"></app-consultation>
      </div>

    </div>

</main>
<footer>

</footer>
